In [9]:
import pandas as pd
import numpy as np
import pickle

In [2]:
# read csv dataset
df = pd.read_csv('Dataset_Dest_Rating.csv', delimiter=';')
df

,ID,Nama,Tempat,Rating_Code,Waktu,Ratings
0,1,Kame Kuro,Jawa Timur Park 2,https://maps.gstatic.com/consumer/images/icons...,2 years ago,5
1,1,Kame Kuro,Pasir Kadilangu Beach,https://maps.gstatic.com/consumer/images/icons...,2 years ago,1
2,1,Kame Kuro,Watukarung Beach,https://maps.gstatic.com/consumer/images/icons...,2 years ago,5
3,1,Kame Kuro,Baru Beach,https://maps.gstatic.com/consumer/images/icons...,a year ago,1
4,1,Kame Kuro,Sepanjang Beach,https://maps.gstatic.com/consumer/images/icons...,a year ago,1
...,...,...,...,...,...,...
2053,250,Andreas A,Santolo Beach,https://maps.gstatic.com/consumer/images/icons...,3 years ago,1
2054,250,Andreas A,Taman Hutan Raya Ir. H. Djuanda,https://maps.gstatic.com/consumer/images/icons...,a year ago,5
2055,250,Andreas A,Floating Market Lembang,https://maps.gstatic.com/consumer/images/icons...,2 years ago,5
2056,250,Andreas A,Gunung Putri Lembang,https://maps.gstatic.com/consumer/images/icons...,2 years ago,5
2057,250,Andreas A,Borobudur Temple,https://maps.gstatic.com/consumer/images/icons...,3 years ago,5

In [3]:
# preprocessing data

# change df['nama'] to category type
df['Nama'] = df['Nama'].astype('category')

# change df['nama'] to num type
df['user_id_to_num'] = df['Nama'].cat.codes

In [5]:
# preprocessing data

# change df['tempat'] to category type
df['Tempat'] = df['Tempat'].astype('category')

# change df['tempat'] to num type
df['item_id_to_num'] = df['Tempat'].cat.codes

In [7]:
# building dictionary data for looking up later
user_id_to_num = dict(zip(df['Nama'], df['user_id_to_num']))
item_id_to_num = dict(zip(df['Tempat'], df['item_id_to_num']))

In [10]:
# save the dictionary data
pickle.dump(user_id_to_num, open('user_id_to_num.pkl', 'wb'))
pickle.dump(item_id_to_num, open('item_id_to_num.pkl', 'wb'))

In [14]:
# removing all the unneeded features
df = df.drop(columns=['ID', 'Nama', 'Tempat', 'Rating_Code', 'Waktu', 'Ratings'])

In [18]:
# save data to matrix type
data = df.to_numpy()
data

array([[136, 167,   5],
       [136, 298,   1],
       [136, 493,   5],
       ...,
       [ 24, 116,   5],
       [ 24, 155,   5],
       [ 24,  45,   5]], dtype=int64)

In [19]:
# save the data to process it later
np.save('data_RL.npy', data)